@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.row{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
}
li{
    list-style-type: none;
}
ul{
    display: flex;
}
p{
    line-height: 1.5;
    color: rgb(66, 64, 64);
    font-size: 18px;

}
a{
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
header{
    font-weight: 700;
}
.entire__border{
    min-height:100vh;
    padding: 2rem;
    overflow: hidden;

}
.purple{
    color: #7342d6;
    padding-left: 2px;
}
h1{
    font-size: 48px;
}

/*

NAVIGATION

*/
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.TLogo{
    width: 48px;
    margin-right: 12px;
}
.nav__container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 36px;
}
.Top__Logo{
    font-size: 24px;
    font-weight: 700;
    display: flex;
    align-items: center;
    transition: all 300ms ease;
}
.Top__Logo:hover {
    color: #7342d6;
    cursor: pointer;
}
.nav__link{
    margin-left: 56px;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
    transition: all 300ms ease;
    color: rgb(66, 64, 64);
    font-size: 16px;
    
}
.nav__link:hover {
    text-decoration: underline;
    color: #7342d6;
}
.nav__link--primary{
    border: 2px solid #7342d6;
    border-radius: 999px;
    color: white;
    background-color: #7342d6;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 12px 28px;
    margin-left: 24px;
    font-size: 16px;
}
.nav__link--primary:hover {
    text-decoration: none;
}
/*

MAIN BODY

*/
.main__area{
    display: flex;
}
.main__text{
    width: 40%;
    display: flex;
    flex-direction: column;
}
.main__pic{
    width: 60% ;
    
}
.main__pic--img{
    max-width: 1200px;
    width: 100%;
    padding-left: 28px;
}



.mail__input{
    border-radius: 999px;
    border-width: 2px;
    border-color: rgb(66, 64, 64);
    padding: 12px 12px;
    font-size: 16px;
    font-weight: 500;
    
}
.customer{
    padding-top: 56px;
    color:rgb(185, 185, 185);
     
}
.customer__text{
    font-weight: 500;
    
    
}
.customer__pic--img{
    width: 100%;
    padding-top: 20px;
    filter: brightness(2.3);
}
.button__input{
    width: 83%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px 0;   
}
.btn{
    position: absolute;
    top: 8.5px;
    border-radius: 999px;
    right: 5px;
    z-index: 2;
    border: #7342d6;
    padding: 14px 24px;
    cursor: pointer;
    color: white;
    background-color: #7342d6;
    transform: translateY(11px);
    font-size: 16px;
    font-weight: 700;
    transition: all 300ms ease;
}

.mail__input{
    margin: 0px;
    padding: 0px;
    width: 100%;
    border-radius: 999px;
    padding: 16px;
    border-color: rgb(185, 185, 185);
    transition: all 300ms ease;
}
.btn:hover  {
    cursor: pointer;
    background-color: blueviolet;
    border-color: blueviolet;
}
.mail__input:hover {
    border-color: grey;
}
/*

FEATURES

*/
.container{
    padding: 80px 0;
}
.features{
    display: flex;
    flex-wrap: wrap;
}
.features__title{
    display: flex;
    justify-content: center;
    color: #7342d6;
    padding: 12px;
}
.features__subtitle{
    display: flex;
    justify-content: center;
    font-size: 56px;
    padding: 12px;
}
.features{
    display: flex;
    flex-wrap: wrap;

}
.feature{
    display: flex;
    width: calc(100% / 3)
}
.feature__description{
    display: flex;
    flex-direction: column;
}
.feature__description--heading{
    font-size: 28px;
    
}
.feature__img--container{
    border: 1px;
    border-color: rgb(185, 185, 185);
    border-style: solid;
    border-radius: 9999px;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.feature__img--pic{
    width: 28px;
}
.feature__description--heading,
.feature__description--text{
    padding: 12px 24px;
}
.feature__text{
    width:100%;
    text-align: center;
    padding: 24px 200px;
}
/*

QUALITY WORK

*/
.quality{
    width: 100%;
    display: flex;
    padding: 24px;
}
.text_side{
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-right: 38px;
}
.quality__main--heading{
    padding-top: 16px;
}
.quality__text{
    padding-top: 12px;
    padding-bottom: 24px;
}
.btn--new{
    border: #7342d6;
    padding: 14px 24px;
    cursor: pointer;
    color: white;
    background-color: #7342d6;
    font-size: 16px;
    font-weight: 700;
    transition: all 300ms ease;
    border-radius: 999px;
    width: 148px;

}
.btn--new:hover  {
    cursor: pointer;
    background-color: blueviolet;
    border-color: blueviolet;
}
.quality__img--wrapper{
    width: 50%;
    
}
.quality__img{
    max-width: 1400px;
    width: 100%;
    border: 1px solid #c3c0c0;
    border-radius: 5px;
    
} 

/*

STEPS

*/
.steps{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 136px 36px;

}
.steps__img--wrapper{
    width:50%;
}
.easy__to__start{
    padding: 24px 0;
}
.steps__img{
    width:100%;
    max-width: 1300px;
}
.steps__start{
    width:50%;
    display: flex;
    flex-direction: column;
}
.steps__start{
    margin-left: 64px;
}
.steps_heading{
    font-size: 18px;
}
.step{
    display: flex;
    padding: 16px 0;
    
}
.step__heading{
    padding-bottom: 12px;
    font-size: 18px;
    color: rgb(48, 48, 48);
}
.step__info{
    display: flex;
    flex-direction: column;
    padding-left: 16px;
}

.step__number--digit{
    color: rgb(185, 185, 185);
    font-weight: 500;
    font-size: 42px;
    line-height: 1;
    
}
/*

PLANS

*/
.small__heading{
    display: flex;
    justify-content: center;
    color: #7342d6;
    padding: 12px;
}.big__heading{
    display: flex;
    justify-content: center;
    font-size: 56px;
    padding: 12px;
}
.heading__text{
    width:100%;
    text-align: center;
    padding: 24px 200px;
}
.plans{
    display: flex;
    flex-wrap: wrap;
}
.plan{
    width: calc(100%/3);
    display: flex;
    flex-direction: column;
}
.one_plan{
    width: 100%;
    max-width: 1300px;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
      

}
.titles{
    padding: 24px 0;
    width:100%;

    
}
.plan__details{
    padding: 24px;
    border-bottom: 2px;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    border-bottom: none;
    border-left: none;
    border-right: none;

}
.pricing_number{
    padding: 16px 0;
}
.date{
    color: rgb(148, 148, 148)
}
.detail{
    padding-top: 16px;
}
.buy__button{
    padding: 24px 104px;
    border-bottom: 2px;
    border-style: solid;
    border-color: rgb(185, 185, 185);
    border-bottom: none;
    border-left: none;
    border-right: none;
}
.buy{
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);
    border: none;
    border-radius: 99px;
    padding: 24px;
    font-weight: 700;
    font-size: 20px;
    color: white;
    width: 100%;
   letter-spacing: 0.05em;
}