@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}
a{
    text-decoration: none;
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #e9e9e9;
}



li {
    list-style-type: none;
}

ul{
    display: flex;
}

p {
    line-height: 1.5;
    font-size: 14px;

}
figure {
    display: flex;
    align-items: center;
    justify-content: center;
}

.purple{
    color: #6030b1;
}
.container{
    padding:56px 0;
}
.row{
    width:100%;
    max-width: 1200px;
    margin: 0 auto;
    

} 
.link__hover-effect{
    position: relative;
}

.link__hover-effect:after {
    content:"";
    position: absolute;
    bottom: -3px;
    height:3px;
    width:0;
    right:0;
    background-color: black;
    transition: all 300ms ease;
}
.link__hover-effect--white:after {
    background-color: white;
}
.link__hover-effect--black:after {
    background-color: #242424;
}
.link__hover-effect:hover:after {
    left:0;
    width:100%;

}
.link__hover-effect--purple:after {
    background-color: #6030b1;
}

h1{
    font-size: 54px;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 28px;
}



button:hover {
    cursor: pointer;
}

section{
    margin: 0 24px;
}

/* 

NAVIGATION BAR

*/

nav {
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding:16px 20px;
    height: 100px;
}

.nav__container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding-bottom: 36px;
    
}    
.nav__img {
    width:150px;
    
}

.nav__links{
    display: flex;
}

.nav__link{
    margin: 0 12px;
    font-weight: 700;
    color: #242424;
}

.nav__link--primary{
    border: 2px solid #6030b1;
    background-color: #6030b1;
    color: white;
    border-radius: 28px;
    padding: 12px 24px;
    transition: all 300ms ease;
}

.nav__link--primary:hover {
    background-color: blueviolet;
    border-color: blueviolet;
}

/* 

MAIN PAGE

*/

#main__page{
    display: flex;
    align-items: center;
    justify-content: center;
}
.heading__wrapper{
    padding-bottom: 24px ;
}

.search_bar--container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}

.search-bar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 28px;
    padding: 24px 12px;
    font-size: 20px;
    max-width: 550px;

}
.search{
    background-color: #6030b1;
    border-color: #6030b1;
    padding: 14px 60px;
    border-radius: 18px;
    box-shadow: 0 12px 30px 0 rgb(0,0,0,0.22);
    transition: all 300ms ease;
    

}

.search:hover {
    background-color: #ff328f;
    border-color: #ff328f;
}

.search:active {
    background-color: #2d273e;
    border-color: #2d273e;
    transform: scale(0.9);
}

.fa-spinner{
    display: none !important;
    color: white;
    font-size: 44px;
}

.searching{
    padding: 0 24px;
}
.fa-search{
    color: white;
    font-size: 44px;
}
.main__img{
    width:100%;
    max-width: 1200px;
}

.search:active .fa-spinner{ 
    display: block !important;
    animation: rotate 600ms infinite linear;
}

.search:active .fa-search{
    display: none;
}

@keyframes rotate{
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

/*

FIND YOUR MOVIE PAGE   

*/

#navigation__bar{
    margin: 0;
}

.nav__search--heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 300;
    font-size: 36px;
    transform: translateY(-20px);
    
    
}

.movie__search{
    background-color: #6030b1;
    border-color: #6030b1;
    border-radius: 34px;
    padding: 10px;
    transform: translateX(120px);
    color: white;
    font-weight: 700;
    font-size: 24px;
}
.new-search{
    font-size: 24px;
}

.new__search-bar{
    border: none;
    padding: 0;
}

.nav__bg{
    z-index: -1;
    position: absolute;
    height: 230px;
    width:100%;
    margin: 0;
    padding: 0;
    top:0;
    opacity: 0.8;
    filter: grayscale(100%) brightness(50%) sepia(30%) hue-rotate(-130deg) saturate(500%) contrast(1);
    
    
}

.new-nav__link{
    color: white;
}

.search-bar__new{
    transform: translateX(200px);
    padding: 12px;
    border: none;
    width: 100%;
    border-radius: 28px;
    padding: 24px 12px;
    font-size: 20px;
    max-width: 550px;
    display: flex;
    justify-content: center;
    align-items: center;
}


/*

MOVIES

*/




  
#movies__main {
    top:100px;
    position: relative;
}
  
.movies__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
    top:100px;
}
  
.movies__header--title {
    margin-bottom: 0;
    top:100px;
}
  
select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    height: 40px;
    line-height: 40px;
    outline: none;
    padding: 0 16px;
    width: 100%;
    max-width: 200px;
}

.movie-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}
  
.movie{
    width:25%;
}

.movie__info{
    display: flex; 
    flex-wrap: wrap;
}


.movie-card {
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    padding:10px;
    cursor: pointer;
    border-radius: 10px;
    width: 25%;
    margin: 16px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 300ms ease;
    height: 400px; 

}
.movie-card{
    display: block !important;
}

.movie__info .movie-card{
    display: none !important;
}




.movie-card:hover {
    transform: scale(1.1);
}

.car__img--container{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.car__img{
    width:100%;
    padding: 16px 0;
    height: 300px;
    max-width: 200px;
    align-items: center;
    justify-content: center;

    
}

.movie-card:hover .car__img {
    opacity: 0.8;
}
.no-results__img--container{
    display: flex;
    justify-content: center;
    
    
}
.no-results__img{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width:500px;
    transform: translateY(-40px);
    position: absolute;
}

.no-results{
    display: flex;
    flex-wrap: wrap;
}


.movies{
    display: flex;
    flex-wrap: wrap;
}

.movies__loading {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 60px;
    font-size: 60px;
    color: #7342d6;
}
  
.movies__loading--spinner {
    display: none !important;
}
  
.movies__loading .movies__loading--spinner {
  display: block !important;
}

.no-results__img{
    display: none !important;
}

.no-results__img--container .no-results__img{
    display: block !important;
}

  
.fa-spinner {
  animation: rotate 600ms infinite linear;
  color: #6030b1;
}

/* 
1. have the spinner, only spin when the movies are loading
3. Have the image only show up when the results are absent
5. allow only 6 posts at once
*/






