.feed__wrapper{
   width: 47%;
}

.feed{
    margin-left: 45%;
    width: 100%;
    border-right: 1px solid #e6ecf0;
    border-left: 1px solid #e6ecf0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}
.feed__body{
    margin-top: 80px;
}

.feed::-webkit-scrollbar{
    display: none;
}

.feed__header{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 14px;
    position: fixed;
    z-index: 1000;
    background-color: #ffffff;
    opacity: 0.96;
    width: 41%;
}
 
.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}
.post__header--special{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
.tweet--plus{
    border: none !important;
    position: fixed !important;
    background-color: var( --twitter-color) !important;
    color: white !important;
    padding: 18px !important;
    border-radius: 40px !important;
    margin-top: 85vh !important;
    margin-left:75vw !important;
    z-index: 100 !important;
    display: none !important;
    padding-bottom: 8px !important;   
}

.menuBar--wrapper{
    width: 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
    position: fixed !important;
    z-index: 100 !important;
    bottom: 0 !important;
    background-color: black;
    padding: 8px 0;
    border-radius: 12px;
    border-bottom-left-radius: none !important;
    left: 0 !important;
    
}
.menuItem--wrapper{
    filter: invert();
}

@media(max-width:1300px){
    .feed__wrapper{
        width: 50%;
    }
    .feed{
        margin-left: 150px;
        
    }
    
}
@media(max-width:1020px){
   .feed__wrapper{
    width: 75%;
   }
   .feed__header{
    width: 70%;
   }
   
}
@media(max-width:660px){
    .feed{
        width: 130%;
        margin:0 auto;
    }
    .feed__header{
        width: 90%;
    }
    .tweet--plus{
        display: block !important;
    }
  
   
}