.feed__wrapper{
   width: 47%;
}
.feed{
    margin-left: 345px;
    width: 100%;
    border-right: 1px solid #e6ecf0;
    border-left: 1px solid #e6ecf0;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    
}
.feed__body{
    margin-top: 80px;
}

.feed::-webkit-scrollbar{
    display: none;
}

.feed__header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    margin-left: 346px;
    width: 37.5%;
    top:0;
    z-index: 100;
    background-color: white;
    border: 1px solid #e6ecf0;
    border-left: none;
    border-right: none;
    padding: 15px 20px;
    opacity: 0.96;
    
}
.feed__header > h2 {
    font-size: 20px;
    font-weight: 800;
}
.post__header--special{
    font-weight: 600;
    font-size: 12px;
    color: gray;
}
@media(max-width:1300px){
    .feed{
        margin-left: 220px;
    }
    .feed__header{
        margin-left: 221px;
    }
}
@media(max-width:1020px){
   .feed__wrapper{
    width: 65%;
   }
   .feed__header{
    width: 59.5%;
   }
}
@media(max-width:560px){
    .feed{
        width: 100%;
        margin:0 auto;
    }
    .feed__header{
        margin: 0 1px;
       
    }
   
}