.widgets{
    position: fixed;
    width:30%;
    max-width: 300px;
    margin-left: 720px;
}
.widgets__input{
    display: flex;
    align-items: center;
    background-color:#e6ecf0 ;
    padding: 10px;
    border-radius: 20px;
    margin-top: 10px;
    margin-left: 20px;
    width: 106%;
}
.widgets__input > input {
    border: none;
    background-color: #e6ecf0;
    width: 100%;
}
.widgets__searchIcon{
    color: gray;
}
.widgets__widgetContainer{
    margin-top: 15px;
    margin-left: 20px;
    padding: 20px;
    background-color: #f5f8fa;
    border-radius: 20px;
    width:100%;
}
.tweet__widget{
    width:100%;
}
.widgets__widgetContainer > h2 {
    font-size: 18px;
    font-weight: 800;
}
@media(max-width:1020px){
    .widgets{
        display: none;
    }
}